<!DOCTYPE html>
<html>
  <head>
    <title>Space Shooters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/Login_Space_shooters.css" />
  </head>

  <body>
    <div class="box">
      <h2>Create account</h2>
      <form method="POST">
        <div class="input-box">
          <input type = "text" name = "username" placeholder = "Gebruikersnaam">
        </div>
        <div class="input-box">
          <input type = "password" name = "password" placeholder = "Wachtwoord">
        </div>
        <div class="input-box">
          <input type = "password" name = "password2" placeholder = "bevestigen">
        </div>
        <input type="submit" class="submit" value="Wachtwoord Resetten"/>
      </form>
    </div>
  </body>
</html>