<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"
    <title> <h2> Gebruik een nickname om later je score te vinden </title>
</head>
<body>
    <form action="results.html" method="GET">
        <div>
        <table>
            <tr>
                <td> <h6> Nickname : </td>
                <td> <input type="text" name="nickname"></td>
            </tr>
        </div>
        </table>
    <button>submit</button>
</form>

