<!DOCTYPE html>
<html lang = "en">
<head>
        <title>login page EN</title>

        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">

        <link rel = "stylesheet" href = "../static/Space_Shooter_Web_Login_NL.css">
    </head>

    <body>
        <div class = "header">
            <h1>Space Shooters</h1>
            <p>Login</p>
        </div>

        <div class = "content">
            <p>Scan the game pass to get in</p>
        </div>

        <A HREF = "/language">
            <img src = "../static/usa-uk-flag.png" alt = "language: english" width = "20%" height = "auto"  style = "position: absolute; float: right; right: 24px; bottom: 24px; z-index: 2;">
        </A>
    </body>
</html>