<!DOCTYPE html>
<html>
  <head>
    <title>Login page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/Login_Space_shooters_Login.css" />
        <link rel="shortcut icon" type="image/png" href="/static/iconwebsite.png/">
  </head>

  <body>
    <div class="box">
      <img src="/static/RFID.png" alt="RFID">

      <form action="/NL/Login">
        <input type="submit" class="login" value="Login als gast">
      </form>
    </div>
  </body>
</html>
