<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Space Shooters</title>
    <link rel="stylesheet" href="/static/RFIDcss.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/png" href="/static/iconwebsite.png/">
  </head>

  <header>
    <nav>
      <div class="top">
        <h1>Space Shooters</h1>
      </div>
      <ul class="nav-links"/>
        <li><a id="Home" data-page="home" href="#sec1">Homguihfgfddfusduie</a></li>
        <li><a id="Scoreboard" data-page="Scoreboard" href="#sec2">Please scan the key to get access</a></li>
        <li><a id="Gamerules" data-page="Gamerules" href="#sec3">Game rules</a></li>
        <li><a id="About" data-page="About" href="#sec4">About</a></li>
        <div class="border"></div>
        <div class="menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
    </header>

  <body>
    <img src="/static/RFID.png" alt="RFID">
  </body>
</html>
