<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <title>Home Page NL</title>

        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">

        <link rel = "stylesheet" href = "../static/Space_Shooter_Web_Home_Page_NL.css">
    </head>
    <body>
        <div class = "header">
            <h1>Hoofd pagina</h1>
            <p>
                <a href = "/NL/home">
                    <button type="button">Home</button>
                </a>

                <a href = "/NL/score">
                    <button type="button">score</button>
                </a>

                <a href = "/NL/about">
                    <button type="button">about</button>
                </a>
            </p>
        </div>

        <div class = "content">
            score bord
        </div>
    </body>
</html>