<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taal selector</title>
</head>

<link rel="stylesheet" href="../static/Space_Shooter_web_Taal_selector.css">

<body>
<div class="header">
    <h1>language 2</h1>
</div>

<div class="Images">
    <img src="../static/usa-uk-flag.png" alt="english" width="600" height="316" style="border:5px solid black; vertical-align:middle;margin:16px 50px">
    <br>
    <img src="../static/nederland-vlag-afbeelding-gratis-downloaden.jpg" alt="nederlands" width="600" height="316" style="border:5px solid black; vertical-align:middle;margin:0 50px">
</div>

</body>
</html>