<!DOCTYPE html>
<html>
<!--Standaard HTML pagina-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Space Shooters</title>
<!--    Linked naar een css bestand-->
    <link rel="stylesheet" href="/static/Admincss.css" />
<!--    Linked naar lettertypes-->
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap"
      rel="stylesheet"
    />
<!--    Linked naar een icon-->
        <link rel="shortcut icon" type="image/png" href="/static/iconwebsite.png/">
  </head>
  <body>
<!--  De bovenkant van de website, de nav, de header-->
    <header>
      <nav>
        <div class="top">
          <h1>Admin</h1>
        </div>
<!--        Linksjes waar je op kunt drukken-->
        <ul class="nav-links">
          <li><a data-page="home" href="#sec1">Home</a></li>
          <li><a data-page="Scoreboard" href="#sec2">Scoreboard</a></li>
          <li><a data-page="Gamerules" href="#sec3">Game rules</a></li>
          <li><a data-page="About" href="#sec4">About</a></li>
          <div class="border"></div>
        </ul>
      </nav>
    </header>
<!--Testen van de servo's en indelingen voor de website-->
    <main>
      <section id="sec1" data-index="0" class="home">
        <div class="break"></div>
        <div class="break"></div>
        <div class="break"></div>
        <div class="break"></div>
        <div class="break"></div>

        <div class="item">
          <h2>Servo test</h2>
        </div>

        <div class="break"></div>
<!--De servos's aansturen per servo-->
        <div class="item">
          <form action="/admin/servo1">
            <button type="submit" name = "servo1">servo 1</button>
          </form>

          <form action="/admin/servo2">
            <button type="submit" name = "servo2">servo 2</button>
          </form>

          <form action="/admin/servo3">
            <button type="submit" name = "servo3">servo 3</button>
          </form>

          <form action="/admin/servo4">
            <button type="submit" name = "servo4">servo 4</button>
          </form>

          <form action="/admin/servo5">
            <button type="submit" name = "servo5">servo 5</button>
          </form>
        </div>

        <div class="break"></div>
        <div class="break"></div>
        <div class="break"></div>
        <div class="break"></div>
        <div class="break"></div>
      </section>
<!--      Scoreboard indelingen van website en de anderdelen-->
      <section id="sec2" data-index="1" class="Scoreboard">
        <div class="break"></div>
        <div class="break"></div>
        <div class="break"></div>
        <div class="break"></div>
        <div class="break"></div>

        <div class="item">
          <h2>Scoreboard</h2>
        </div>

        <div class="break"></div>

        <div class="itemlist">
          <h3>speeltijd</h3>
        </div>

        <div class="itemlist">
          <h3>aantal logins</h3>
        </div>

        <div class="itemlist">
          <h3>...</h3>
        </div>
<!--        De gamerules en indelingen van de website-->
        <div class="break"></div>
        <div class="break"></div>
        <div class="break"></div>
        <div class="break"></div>
        <div class="break"></div>
      </section>

      <section id="sec3" data-index="2" class="Gamerules">
        <h2>Game rules</h2>
      </section>

      <section id="sec4" data-index="3" class="About">
        <h2>About</h2>
      </section>
    </main>
  </body>
</html>