<!DOCTYPE html>
<html>
  <head>
    <title>Space Shooters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/Login_Space_shooters.css" />
        <link rel="shortcut icon" type="image/png" href="../static/iconwebsite.png/">
  </head>

  <body>
    <div class="box">
      <h2>Create account</h2>
      <form method="POST">
        <div class="input-box">
          <input type = "text" name = "username" autocomplete="off" required>
          <label for="">Username</label>
        </div>
        <div class="input-box">
          <input type = "email" name = "email" autocomplete="off" required>
          <label for="">Email</label>
        </div>
        <div class="input-box">
          <input type = "password" name = "password" autocomplete="off" required>
          <label for="">password</label>
        </div>
        <div class="input-box">
          <input type = "password" name = "password2" autocomplete="off" required>
          <label for="">Confirm password</label>
        </div>
        <input type="submit" class="submit" value="Register"/>
      </form>

      <form action="/EN/Login">
        <input type="submit" class="login" value="Already account? Log in!" />
      </form>
    </div>
  </body>
</html>
