<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Space Shooters</title>
    <link rel="stylesheet" href="../static/Login_Space_shooters_Login.css" />
        <link rel="shortcut icon" type="image/png" href="../static/iconwebsite.png/">
  </head>

  <body>
    <div class="box">
      <h2>Log in</h2>
      <form method="POST">
        <div class="input-box">
          <input type = "text" name = "username" placeholder = "gebruikersnaam">
        </div>
        <div class="input-box">
          <input type = "password" name = "password" placeholder = "Wachtwoord">
        </div>
        <input type="submit" class="submit" value="Login" />
      </form>

      <form action="/NL/Registration">
        <input type="submit" class="login" value="Account maken kan hier">
      </form>

      <form action="/NL/Password/request">
        <input type="submit" class="login" value="Wachtwoord vergeten?">
      </form>
    </div>
  </body>
</html>
