# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Home_Control\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\butro\Desktop\Google drive\Projecten\Code\Python\PycharmProjects\Home_Control\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
