body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(blyatifuld.png);
  background-size: cover;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  box-shadow: 0 10px 500px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}
.box h2 {
  margin: 0 0 70px;
  padding: 0px;
  color: #66ff00;
  text-align: center;
}

.box .input-box {
  position: relative;
}
.box .input-box input {
  width: 100%;
  padding: 10px 0px;
  font-size: 16px;
  color: #fdfefe;
  letter-spacing: 3px;
  margin-bottom: 40px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #66ff00;
}
.box .input-box label {
  position: absolute;
  top: 10px;
  left: 0;
  letter-spacing: 5px;
  padding: -20px 0px;
  font-size: 16px;
  color: #fff;
  transition: 1s;
  opacity: 0.6;
}
.box .input-box input:focus ~ label,
.box .input-box input:valid ~ label {
  top: -20px;
  color: #66ff00;
  opacity: 1;
  font-size: 17px;
}
.box input[type="submit"] {

  top: 0;
  left: 15.7%;
  background: transparent;
  border: 2px solid #66ff00;
  outline: #66ff00;
  color: #66ff00;
  padding: 12px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 6px;
}

.submit {
  position: relative;
  width: 70%;
}

.login {
  position: relative;
  width: 70%;
}

