body {
  background-color: #d7d7d7;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: white;
  font-size: 2.5em;
}

p {
  color: black;
  font-size: 1em;
  text-align: center;
}

img {
  margin: 16px
}

.header {
  padding: 16px;
  image-align: center;
  background-color: #1abc9c;
  color: white;
}

.content {
  padding:20px;
}

.Images {
  text-align: center;
  margin: 12px;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 601px) {
  body {
    font-size: 100%;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 100%;
  }
}
