body {
  background-color: #d7d7d7;
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 16px;
  text-align: center;
  background-color: #1abc9c;
  color: white;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: white;
  font-size: 2.5em;
}

