<!DOCTYPE html>
<html>
<!--Standaard HTML pagina-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Space Shooters</title>
<!--    Linked naar een css bestand-->
    <link rel="stylesheet" href="/static/Admincss.css" /> 
<!--    Linked naar lettertypes-->
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap"
      rel="stylesheet"
    />
<!--    Linked naar een icon-->
        <link rel="shortcut icon" type="image/png" href="/static/iconwebsite.png/">
  </head>
  <body>    

    <div class="text"><h1>Servo test</h1></div>
<!--Testen van de servo's en indelingen voor de website-->
        <div id="Home" class="item">
<!--De servos's aansturen per servo-->
            <form action="/admin/servo1">
                <button class="button" type="submit" name = "servo1">servo 1</button>
            </form>

            <form action="/admin/servo2">
                <button class="button" type="submit" name = "servo2">servo 2</button>
            </form>

            <form action="/admin/servo3">
                <button class="button" type="submit" name = "servo3">servo 3</button>
            </form>

            <form action="/admin/servo4">
                <button class="button" type="submit" name = "servo4">servo 4</button>
            </form>

            <form action="/admin/servo5">
                <button class="button" type="submit" name = "servo5">servo 5</button>
            </form>
        </div>

       <div class="text"><h1>Leaderboards</h1></div>
       <div id="leaderboard" class="Scoreboard">

        <div class="itemlist">
            <h3>Speeltijden</h3>
            {% for element in aantal_games_board%}
              <p>{{element}}</p>
            {% endfor %}
          </div>
        
        <div class="itemlist">
          <h3>Aantal logins</h3>
          {% for element in login_board%}
            <p>{{element}}</p>
          {% endfor %}
        </div>

    </div>

    <div class="text"><h1>RFID KNOP</h1></div>
    <div class="rfid">
      <form action="/admin/rfid">
        <button class="button" type="submit" name = "rfid">RFID</button>
      </form>
    </div>

  </body>
</html>