<!DOCTYPE html>
<html>
  <head>
    <title>Space Shooters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/Login_page.css" />
    <link rel="shortcut icon" type="image/png" href="/static/iconwebsite.png/">
  </head>

  <body>
    <div class="box">
      <h2>Password reset</h2>
      <form method="POST">
        <div class="input-box">
          <input type = "text" name = "username" autocomplete="off" placeholder="Username">

          <input type = "email" name = "email" placeholder = "email" >

          <input type = "password" name = "password" autocomplete="off" placeholder="Password">

          <input type = "password" name = "password2" autocomplete="off" placeholder="Confirm">
        </div>
        <input type="submit" class="submit" value="Password reset"/>
      </form>

      <form action="/en/login">
        <input type="submit" class="login" value="Already account? Log in!" />
      </form>
    </div>
  </body>
</html>