<!DOCTYPE html>
<html>
  <head>
    <title>Space Shooters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/registration_page.css" />
  </head>

  <body>
    <div class="box">
      <h2>Create account</h2>
      <form method="POST">
        <div class="input-box">
          <input type = "text" name = "username" autocomplete="off" placeholder="Gebruikersnaam">

          <input type = "email" name = "email" autocomplete="off" placeholder="Email">

          <input type = "password" name = "password" autocomplete="off" placeholder="Wachtwoord">

          <input type = "password" name = "password2" autocomplete="off" placeholder="Bevestiging">
        </div>
        <input type="submit" class="submit" value="Registreer"/>
      </form>

      <form action="/nl/login">
        <input type="submit" class="login" value="All een account? Log hier in!" />
      </form>
    </div>
  </body>
</html>
