<!DOCTYPE html>
<html>
    <head>
    <title>game page</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/Login_page.css" />
        <link rel="shortcut icon" type="image/png" href="../static/Iconwebsite.png/">
    </head>

    <body>
        <div class="box">
        <h2>Game started</h2>
        <div class="circle">
        <p class="time" id="timer">60</p>
        </div>
        <form action="/nl/home">
            <input type="submit" class="login" value="All een account? Log hier in!" />
        </form>
        </div>
        <script src="/static/Gamepage_timer.js"></script>
        <script>location.replace("/game/start")</script>
    </body>
</html>
