<!DOCTYPE html>
<html>
  <head>
    <title>game page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="timer_scorebord.css" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="/static/Iconwebsite.png/"
    />
  </head>

  <body>
    <div class="box">
      <h2>Game started</h2>
      <div class="circle">
        <p class="time" id="timer">30</p>
      </div>
    </div>
    <script src="/static/Gamepage_timer.js"></script>
    <script>
      location.replace("/game/start");
    </script>
  </body>
</html>
