body {
  background-color: #d7d7d7;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: orange;
  font-size: 48px;
  width: 120px;
  text-shadow: 3px 3px 1px black;
}

h1 {
  text-align: center;
}

p {
  color: black;
  font-size: 150%
}